# Ignore build folder
build/
bin/

# Ignore UI folder, this should be commited in its own repository
ui/

# Ignore all dot folders, with below exceptions
.*/
!.cursor/
!.cursor/skills/
!.cursor/skills/design-to-lvgl/
!.cursor/skills/design-to-lvgl/**

# VSCode
.vscode
